<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Cloud</title>
</head>

<body>
    <h1>Manage Student</h1>

    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="phone" name="phone" />
        <input type="text" placeholder="address" name="address" />
        <button type="submit">Submit</button>
    </form>

    <h2> Student Information </h2>
    <ul class="quotes">
        <!-- Loop through quotes -->
        <% for(var i=0; i < quotes.length; i++) {%>
            <li class="quote">
                <!-- Output name from the iterated quote object -->
                <span>
                    <%= quotes[i].name %>
                </span>:
                <!-- Output quote from the iterated quote object -->
                <span>
                    <%= quotes[i].phone %>
                </span>
                <span>
                    <%= quotes[i].address %>
                </span>
            </li>
            <% } %>
    </ul>


</body>

</html>